---
layout: layouts/base.html
title: Web talks
---

<div class="container my-3 py-3">
    <div class="grid">
        <nav class="main">
            <a href="#home" class="menu-item">home</a>
            <a href="#speakers" class="menu-item">speakers</a>
            <a href="#schedule" class="menu-item">schedule</a>
            <a href="#sponsors" class="menu-item">sponsors</a>
        </nav>
        <nav class="archive text-center">
            <a href="#archive" class="menu-item">archive</a>
        </nav>
        <div class="title">
            <h1 class="text-white py-5">Web <br> talks</h1>
        </div>
        <div class="side-title">

        </div>
        <div class="info p-4 d-flex justify-content-between flex-column">
            <div>
                <h3>2019</h3>
                AUG 10-12
            </div>
            <div>
                <h4>TORONTO</h4>
                Canada
            </div>
        </div>
        <div class="speaker-box1">
            <div class="py-3">
                <h3>World class speakers</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequatur culpa deleniti,
                    deserunt et fuga illo iusto maxime nam natus, odit officiis quo recusandae repudiandae sed, tempore
                    totam unde vero!
                </p>
            </div>
        </div>
        <div class="speaker-box2"></div>
        <div class="speaker-box3"></div>
        <div class="speaker-box5"></div>
        <div class="speaker-box6"></div>
        <div class="speaker-box7 py-3">
            <a href="#" class="text-white text-uppercase text-bold">See all spreakers &raquo;</a>
        </div>
        <div class="speaker-box8"></div>
        <div class="speakers">
            <div class="speakers-icon">
                {% include woman.svg %}
            </div>
            <div class="speakers-icon">
                {% include boy.svg %}
            </div>
            <div class="speakers-icon">
                {% include girl.svg %}
            </div>
        </div>
        <div class="speakers-description">
            <div class="speakers-text">
                <h3>Mary<br>A. Smith</h3>
                <small>A amet asperiores</small>
                <br><br><br>
            </div>
            <div class="speakers-text">
                <h3>Michael<br>H. Robison</h3>
                <small>A amet asperiores</small>
                <br><br><br>
            </div>
            <div class="speakers-text">
                <h3>Evelyn<br>D. Massey</h3>
                <small>A amet asperiores</small>
                <br><br><br>
            </div>
        </div>
        <div class="about-box1"></div>
        <div class="about-box2"></div>
        <div class="about-box3"></div>
        <div class="about-box4"></div>
        <div class="about">
            <div class="p-3">
                <h3>About</h3>
                <p>
                    This design was inspired by:
                    <a href="https://dribbble.com/shots/5277816-Web-Talks-Design-conference?utm_campaign=2018-09-24&utm_medium=email&utm_source=replay">
                        Mike | Creative Mints
                    </a>
                    on dribble
                </p>
                <p>
                    Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
                    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                        CC 3.0 BY
                    </a>
                </p>
                <p>
                    Background provided by <a href="https://www.heropatterns.com">Hero Patterns</a>
                </p>
                <p>
                    Also used some <a href="https://getbootstrap.com">Bootstrap</a>
                </p>
            </div>

        </div>
    </div>
</div>
